{% extends 'starter.html' %}



{% block content %}

    <div class="luffy-container">
{#    {% if 'customer_add' in request.session.url_names %}#}


        <div class="btn-group" style="margin: 5px 0">
            <a class="btn btn-default" href="{% url 'rbac:role_add' %}">
                <i class="fa fa-plus-square" aria-hidden="true"></i> 添加角色
            </a>
        </div>
{#    {% endif %}#}
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>角色</th>
                <th>选项</th>
            </tr>
            </thead>
            <tbody>
            {% for row in role_lists %}
                <tr>
                    <td>{{ row.id }}</td>
                    <td>{{ row.role_name }}</td>
                    <td>
                        <a style="color: #333333;" href="{% url 'rbac:role_edit' row.id %}">
                            <i class="fa fa-edit" aria-hidden="true"></i></a>
                        <a style="color: #d9534f;" href="{% url 'rbac:role_del' row.id %}"><i class="fa fa-trash-o"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}







